@using HistoryPortal.Web.ViewModels.Articles
@model ArticlesViewModel

<span id="UpVotes" class="label label-success col-md-3">@Model.Ups</span>
<span id="DownVotes" class="label label-danger col-md-3">@Model.Downs</span>
