@using HistoryPortal.Web.Areas.Administration.ViewModels.EventsAdmin

@{
    ViewBag.Title = "Events Administration";
    const string ControllerName = "EventsAdmin";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
    .Grid<EventsAdminViewModel>()
    .Name("grid")
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Id);
        cols.Bound(pr => pr.Title);
        cols.Bound(pr => pr.Description);
        cols.Bound(pr => pr.Date);
        cols.Bound(pr => pr.Author);
        cols.Bound(pr => pr.Comments);
        cols.Bound(pr => pr.Votes);
        cols.Bound(pr => pr.Users)
            .ClientTemplate("#=kendo.toString(CreatedOn, 'dd/MM/yyyy HH:mm:ss')#");
        cols.Bound(pr => pr.ModifiedOn)
            .ClientTemplate("#=kendo.toString(CreatedOn, 'dd/MM/yyyy HH:mm:ss')#");
        cols.Command(com => com.Edit()).Title("Edit");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
            .ColumnMenu()
        .Selectable()
        .Pageable(page => page.Refresh(true))
        .Sortable()
        .Groupable()
        .Filterable()
        .Editable(edit => edit.Mode(GridEditMode.PopUp))
        .ToolBar(toolbar => toolbar.Create())
        .DataSource(data => data
        .Ajax()
        .Model(m =>
            {
                m.Id(u => u.Id);
                m.Field(u => u.Id).Editable(false);
                m.Field(u => u.CreatedOn).Editable(false);
                m.Field(u => u.ModifiedOn).Editable(false);
            })
        .PageSize(10)
        .Read(read => read.Action("Read", ControllerName))
        .Create(create => create.Action("Create", ControllerName))
        .Update(update => update.Action("Update", ControllerName))
        .Destroy(destroy => destroy.Action("Destroy", ControllerName))
        ))
